<div id="page">
  <header>
    <div class="header-inner">
      <div id="logo"><img src="{{C.paths.images}}[[_img_logo]].png" width="471" height="60"></div>
    </div>
  </header>
  <div id="main"><div id="main-inner">
    <div id="page-content">Welcome.</div>
  </div></div>
</div>
